.footer 
    min-height: 79px
    display: flex
    align-items: center
    justify-content: space-between
    &__background 
        min-height: 79px
        background-color: #e6e6e6
    > div
        display: flex