.header 
    display: flex
    min-height: 100px
    align-items: center
    
    > *
        height: inherit
        display: flex
        align-items: center
    &-line 
        border-bottom: 1px solid #ececec

.logo 
    display: flex
    align-items: center
    &__name
        margin-left: 13px
        text-transform: uppercase
        font-size: 27px
        span
            color: #f16d7f
            font-weight: 900

.search 
    margin-left: 3.7%
    min-width: 35.6%
    border-radius: 3px
    border: 1px solid #e6e6e6
    overflow: hidden
    height: 38px

    &__input
        padding-left: 5%
        min-width: calc(280px  -  5%)
        height: inherit
        outline: none
        overflow: hidden
        border: none
        border-right: 1px solid #e6e6e6
        border-left: 1px solid #e6e6e6

    &__button 
        min-width: 36px
        outline: none
        overflow: hidden
        border: none
        background-color: #fff
        font-size: 14px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 2.29
        letter-spacing: 0.35px
        color: #a4a4a4
    &__browse
        min-width: 87px
        min-height: 100%
        display: flex
        justify-content: center
        align-items: center
        border: solid 1px #e6e6e6
        background-image: linear-gradient(to top, #f9f9f9, #f5f5f5)
        font-family: Lato
        font-size: 14px
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: 2.29
        letter-spacing: 0.35px
        color: #838383
            
.cart 
    margin-left: auto
    margin-right: 2.3%

.my-account
    width: 130px
    height: 38px
    background-color: #f16d7f
    justify-content: center
    >a
        font-family: Lato
        font-size: 15px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 2.13
        letter-spacing: 0.38px
        color: #ffffff

.top-nav 
    min-height: 51px
    font-size: 14px
    font-weight: 700
    display: flex
    align-items: center
    justify-content: center

    > .menu-list 
        display: flex
        justify-content: center
        align-items: center
        list-style-type: none


        .menu-link 
            text-transform: uppercase


        .menu-item:not(:last-child) 
            margin-right: 48px
