.breadcrumb
    min-height: 148px 
    background-color: #f8f3f4
    &__contant
        display: flex
        justify-content: space-between
        align-items: center
        min-height: inherit

.product-details
    min-height: 102px
    padding-bottom: 20px
    border-bottom: solid 1px #eaeaea
    display: flex
    justify-content: space-between
    align-items: flex-end
    &__column
        min-width: 430px
    > p 
        display: flex
        text-transform: uppercase