.single-page
    min-height: 407px
    display: flex
    justify-content: space-between
    align-items: center
    > div 
        position: relative
        height: 364px
        width: 263px
        overflow: hidden
        > img[alt="girl-2"]
            margin-top: -6%
    img 
        display: flex
        overflow: hidden
        float: left
    p
        text-transform: uppercase
        padding: 19px
        min-height: 64px
        min-width: 244px
        display: block
        background-color: #fff
        position: absolute
        bottom: 0px
        font-family: Lato
        font-size: 13px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: #222222
    span
        font-family: Lato
        font-size: 16px
        font-weight: bold
        font-stretch: normal
        font-style: normal
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: #f16d7f