@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > * {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  margin-left: 13px;
  text-transform: uppercase;
  font-size: 27px;
}

.logo__name span {
  color: #f16d7f;
  font-weight: 900;
}

.search {
  margin-left: 3.7%;
  min-width: 35.6%;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 38px;
}

.search__input {
  padding-left: 5%;
  min-width: calc(280px  -  5%);
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.search__button {
  min-width: 36px;
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: 0.35px;
  color: #a4a4a4;
}

.search__browse {
  min-width: 87px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #e6e6e6;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: 0.35px;
  color: #838383;
}

.cart {
  margin-left: auto;
  margin-right: 2.3%;
}

.my-account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-account > a {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: 0.38px;
  color: #ffffff;
}

.top-nav {
  min-height: 51px;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-nav > .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.top-nav > .menu-list .menu-link {
  text-transform: uppercase;
}

.top-nav > .menu-list .menu-item:not(:last-child) {
  margin-right: 48px;
}

.slider {
  min-height: 613px;
  max-width: 100%;
  background-color: #e8e8e8;
}

.slider__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 613px;
  background-image: url(../images/brandman.png);
  background-repeat: no-repeat;
  background-position: 0px -150px;
}

.slider__p {
  padding-left: 10px;
  max-width: 485px;
  border-left: 12px solid #f16d7f;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 70%;
  letter-spacing: 1px;
  color: #222222;
}

.slider__p span:not(:last-child) {
  font-family: Lato;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 70%;
  font-size: 60px;
  letter-spacing: 1.5px;
  color: #222222;
}

.slider__span {
  color: #f16d7f;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 98px;
  height: 825px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category > div {
  width: 560px;
  height: 542px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__banner_1 {
  background-image: url(../images/baner_man.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.category__banner_2 {
  background-image: url(../images/baner_pocket.jpg);
  background-position-x: 135px;
  background-position-y: -55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dadad2;
  background-size: 80%;
  position: relative;
  max-height: 261px;
}

.category__banner_3 {
  background-image: url(../images/baner_woman.jpg);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  position: relative;
  max-height: 261px;
}

.category__banner_4 {
  background-image: url(../images/baner_child.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.category__banner__p {
  top: 26px;
  padding: 16px 19px;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #222222;
}

.category__banner__span {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
}

.product__title {
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__title p {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.75px;
  text-align: center;
  color: #222222;
}

.product__title span {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.35px;
  text-align: center;
  color: #9f9f9f;
}

.product_box {
  min-height: 767px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.product_box__product:hover {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
}

.product_box__product:hover .product_box__product__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.product_box__product:hover .product_box__product__hover > a {
  border: solid 1px #ffffff;
  margin-top: 35%;
  padding: 3%;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_box__product__hover {
  display: none;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgba(59, 59, 59, 0.65);
}

.product_box > div {
  position: relative;
  height: 364px;
  width: 263px;
  overflow: hidden;
}

.product_box > div > img[alt="product_7"] {
  margin-top: -76%;
  margin-left: -15%;
}

.product_box > div > img[alt="product_1"] {
  margin-left: -9%;
}

.product_box > div > img[alt="product_2"] {
  margin-left: -9%;
}

.product_box > div > img[alt="product_3"] {
  margin-left: -17%;
}

.product_box > div > img[alt="product_4"] {
  margin-left: -6%;
}

.product_box > div > img[alt="product_6"] {
  margin-left: -19%;
}

.product_box > div > img[alt="product_8"] {
  min-width: 100%;
}

.product_box img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  float: left;
}

.product_box p {
  text-transform: uppercase;
  padding: 19px;
  min-height: 64px;
  min-width: 244px;
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.product_box span {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f16d7f;
}

.product__button {
  min-height: 165px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__button > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.38;
  letter-spacing: 0.4px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 529px;
  position: relative;
}

.card__figure > p {
  position: absolute;
  margin-top: 12%;
  margin-left: 3.2%;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.card__figure > p > span {
  font-size: 53.5px;
  letter-spacing: 1.34px;
}

.card__figure > p > span:nth-of-type(2) {
  color: #f16d7f;
}

.card__figure img {
  margin-left: -10px;
}

.card__banner {
  min-width: 373px;
  min-height: 529px;
  background: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.1px;
  text-align: left;
  color: #fbfbfb;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__banner span {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__banner__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 111px;
  height: 529px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__banner__content {
  padding: 40px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 262px;
  max-height: 529px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe {
  margin-top: 97px;
  min-height: 438px;
  background-image: url(/images/serfer.png);
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe__email {
  min-height: 438px;
}

.subscribe__email__nav > p {
  margin: 110px 0 0 111px;
  width: 399px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.63;
  letter-spacing: 0.4px;
}

.subscribe__email__nav > p span {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: #f16d7f;
}

.subscribe__email__nav > p span:nth-of-type(2) {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 0.3px;
  color: #222224;
}

.subscribe__email__button > p {
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #222224;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.35px;
  font-family: Lato;
  text-transform: uppercase;
}

.subscribe__email__button > p > span {
  font-size: 24px;
  letter-spacing: 0.6px;
}

.subscribe__email > div {
  width: 570px;
  height: 438px;
  float: left;
}

.subscribe__email > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__email img[alt="elipswoman"] {
  margin-top: 111px;
  float: left;
}

.subscribe__email__button__input {
  min-width: 334px;
  min-height: 46px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
}

.subscribe__email__button__input::-webkit-input-placeholder {
  padding-left: 7%;
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.86;
  letter-spacing: 0.35px;
}

.subscribe__email__button__input:-ms-input-placeholder {
  padding-left: 7%;
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.86;
  letter-spacing: 0.35px;
}

.subscribe__email__button__input::-ms-input-placeholder {
  padding-left: 7%;
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.86;
  letter-spacing: 0.35px;
}

.subscribe__email__button__input::placeholder {
  padding-left: 7%;
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.86;
  letter-spacing: 0.35px;
}

.subscribe__email__button__button {
  cursor: pointer;
  min-width: 104px;
  min-height: 46px;
  max-height: 46px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.35px;
  color: #ffffff;
  border: none;
  outline: none;
}

.subscribe__email__button__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__email a {
  border-bottom: 4px solid #d6d6d6;
}

.subscribe__email a:nth-of-type(2) {
  border-bottom: 4px solid #f16d7f;
}

.nav__footer {
  min-height: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__footer > div:first-child {
  min-width: 427px;
  min-height: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__footer > div:first-child p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #898989;
}

.nav__footer > div:last-child {
  min-width: 714px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__footer > div > ul {
  list-style-type: none;
  min-height: 44.32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__footer > div > ul li {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #898989;
}

.nav__footer > div > ul li:first-child {
  line-height: 3.69;
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
}

.nav__footer > div > ul li a {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #898989;
}

.footer {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__background {
  min-height: 79px;
  background-color: #e6e6e6;
}

.footer > p {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer > div > div {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 32px;
  min-height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > div > div:nth-of-type(1) {
  background-color: #ffffff;
}

.footer > div > div:nth-of-type(1) a {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
}

.footer > div > div:nth-of-type(2) {
  background-color: #f16d7f;
}

.footer > div > div:nth-of-type(2) a {
  color: #f7f7f8;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
}

.footer > div > div:nth-of-type(3) {
  background-color: #eeeeee;
}

.footer > div > div:nth-of-type(3) a {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
}

.footer > div > div:nth-of-type(4) {
  background-color: #ffffff;
}

.footer > div > div:nth-of-type(4) a {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
}

.footer > div > div:nth-of-type(5) {
  background-color: #ffffff;
}

.footer > div > div:nth-of-type(5) a {
  color: #b2b2b2;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
}

.breadcrumb {
  min-height: 148px;
  background-color: #f8f3f4;
}

.breadcrumb__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.breadcrumb__contant > h1 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #f16d7f;
}

.breadcrumb__item > a, .breadcrumb span {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #636363;
}

.breadcrumb__item > a:nth-of-type(3) {
  color: #f16d7f;
}

.product-details {
  min-height: 102px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-details__column {
  min-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: start;
}

.product-details__column > p {
  font-family: Lato;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  font-weight: 400;
  color: #6f6e6e;
}

.product-details__column > p > span {
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #575757;
}

.product-details__column > p > span:first-child {
  color: #222222;
  text-transform: uppercase;
}

.product-details__column > img {
  margin-right: 21px;
}

.product-details__price {
  min-width: 76px;
}

.product-details__price > p {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #656565;
}

.product-details__quantity {
  min-width: 66px;
}

.product-details__shipping {
  min-width: 60px;
}

.product-details__shipping > p {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #656565;
}

.product-details__subtotal {
  min-width: 64px;
}

.product-details__subtotal > p {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #656565;
}

.product-details__action {
  min-width: 49px;
}

.product-details__action > a {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #c0c0c0;
}

.product-details > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-align: right;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: -0.2px;
  color: #222222;
}

.product-row {
  height: 162px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #eaeaea;
}

.product-details__price, .product-details__quantity, .product-details__shipping, .product-details__subtotal, .product-details__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-number {
  width: 54px;
  height: 30px;
  border: solid 1px #eaeaea;
  -moz-appearance: textfield;
  text-align: center;
}

.quantity-number::-webkit-inner-spin-button {
  display: none;
}

.quantity-number:placeholder {
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #656565;
}

.shopping-cart-button {
  min-height: 138px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart-button > a {
  width: 235px;
  height: 50px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.proceed-to-check {
  margin-bottom: -18px;
  min-height: 287px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proceed-to-check-button {
  min-height: 50px;
  margin: 17px 43px 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.proceed-to-check > form {
  min-height: 100%;
  min-width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proceed-to-check > form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.proceed-to-check > form > a {
  max-width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10%;
  padding: 12px 15px;
  text-transform: uppercase;
  border: solid 1px #eaeaea;
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proceed-to-check > form > p {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.proceed-to-check > form input {
  min-height: 45px;
  padding-left: 18px;
  border: solid 1px #eaeaea;
  outline: none;
}

.proceed-to-check > form > span {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.proceed-to-check > form > span::-webkit-input-placeholder {
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #b1b1b1;
}

.proceed-to-check > form > span:-ms-input-placeholder {
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #b1b1b1;
}

.proceed-to-check > form > span::-ms-input-placeholder {
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #b1b1b1;
}

.proceed-to-check > form > span::placeholder {
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #b1b1b1;
}

.proceed-to-check > form:nth-of-type(2) {
  height: 184px;
}

.grand-proceed-to-checkout {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
}

.grand-proceed-to-checkout > p {
  margin: 40px 43px 0 43px;
  padding-bottom: 22px;
  text-align: right;
  border-bottom: solid 1px #e2e2e2;
  font-family: Lato;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: uppercase;
}

.grand-proceed-to-checkout > p > span {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}

.grand-proceed-to-checkout > p > span:last-child {
  color: #f16d7f;
}

.country {
  border-right: none !important;
  min-width: calc(100% - 53px);
}

.country + a {
  min-width: 33px;
  min-height: 45px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: none;
  color: #b1b1b1;
}

.single-page {
  min-height: 407px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-page > div {
  position: relative;
  height: 364px;
  width: 263px;
  overflow: hidden;
}

.single-page > div > img[alt="girl-2"] {
  margin-top: -6%;
}

.single-page img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  float: left;
}

.single-page p {
  text-transform: uppercase;
  padding: 19px;
  min-height: 64px;
  min-width: 244px;
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.single-page span {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f16d7f;
}

.image-slider {
  min-height: 777px;
  background-color: #f7f7f7;
  background-image: url(../images/girloncheir.png);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-slider > a {
  min-width: 47px;
  min-height: 47px;
  background-color: #d8d8d8;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-to-cart {
  min-height: 730px;
  margin-top: -86px;
  position: relative;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #eaeaea;
}

.add-to-cart__button-cart {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #ef5b70;
  min-width: 537px;
  min-height: 55px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ef5b70;
}

.add-to-cart__button-cart:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.16);
}

.add-to-cart__devider {
  min-height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  color: #f16d7f;
  border-bottom: solid 1px #eaeaea;
}

.add-to-cart__material-designer {
  min-height: 301px;
  max-width: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: solid 1px #eaeaea;
}

.add-to-cart__material-designer__description-product {
  color: #2f2f2f;
}

.add-to-cart__material-designer > span:nth-of-type(1) {
  margin-top: 18px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4d4d4d;
  text-transform: uppercase;
}

.add-to-cart__material-designer > p {
  margin-top: 67px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #5e5e5e;
  text-align: center;
}

.add-to-cart__material-designer > span:nth-of-type(2) {
  margin-top: 28px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #b9b9b9;
}

.add-to-cart__material-designer > span:nth-of-type(3) {
  margin-top: 27px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ef5b70;
}

.add-to-cart__material {
  font-family: FontAwesome;
}

.add-to-cart__product-volue {
  margin-top: 63px;
  min-width: 537px;
  min-height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-to-cart__product-volue > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-to-cart__product-volue > div > select, .add-to-cart__product-volue > div input {
  padding-left: 14px;
  min-width: 144px;
  min-height: 35px;
  outline: none;
  border: solid 1px #eaeaea;
  font-family: Lato, FontAwesome;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #bcbcbc;
}

.add-to-cart__product-volue > div > input::-webkit-inner-spin-button {
  display: none;
}

.add-to-cart__product-volue > div > span {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2f2f2f;
}

.block-pink-color {
  width: 15px;
  height: 15px;
  background-color: #ef5b70;
  position: absolute;
  top: 504px;
  right: 806px;
}

.you-may-like-also {
  min-height: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #4d4d4d;
}
